body {
    background-color: lightgray;
}

.error {
    color: red;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}