<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bid Calculation{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="vue-app">
    <bid-calculation></bid-calculation>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>